* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.extra {
  height: 50px;
  width: 50vw;
}

:root {
  --purple: #B1B2FF;
  --purple2: #AAC4FF;
  --purple3: #D2DAFF;
  --white: #EEF1FF;
}

body {
  margin: 0px;
  background-color: red;
}

.logo {
  height: 50px;
  width: auto;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: var(--purple);
  position: sticky;
  top: 0;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  padding: 0px 0px 0px 5px;
}

.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: inline;
  font-size: 18px;
  right: 0px;
  position: absolute;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
}

.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
  display: none;
}

.btn {
  display: none !important;
}

@media screen and (max-width:576px) {
  .btn {
    right: 0;
    position: absolute;
    top: 7px;
    display: block !important;
  }

  .btn:focus {
    box-shadow: none !important;
  }

  .nav-links {
    display: none !important;
  }
}

.btn-close:hover {
  box-shadow: none !important;
}

/* ====================================== header over ============================================================== */
.first_content_lft {
  height: 65vh;
  float: left;
  background: var(--white);
  border-radius: 20% 0 0 20%;
}

.first_content_rgt {
  float: right;
  height: 80vh;
}

.img_1 {
  height: 80vh;
  width: 50vw;
}
.cardss{
  clear: both;
}
.footer{
  position: relative;
  bottom: 0;
  background-color: var(--purple);
  color: whitesmoke;
  height: auto;
}
.copyy{
  text-align: center;
  clear: both;
  color: white;
  background-color: black;
}

.infoo{
  float: left;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width:576px) {
  .first_content_lft {
    width: 100%;
  }

  .first_content_lft {
    height: auto;
  }

  .first_content_rgt {
    float: none;
  }

  .img_1 {
    height: 50%;
    width: 100%;
    object-fit: fill;
  }
}

@media screen and (max-width:425px) {
  .first_content_lft {
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 10px;
  }
  .img_1{
    border-radius: 15px;
  }
}